[submodule "homebrew"]
	path = homebrew
	url = git://github.com/opscode-cookbooks/homebrew.git
[submodule "zsh"]
	path = zsh
	url = git://github.com/opscode-cookbooks/zsh.git
[submodule "tmux"]
	path = tmux
	url = git://github.com/opscode-cookbooks/tmux.git
